#Inc-btn {background-color: #008CBA;}
#Dec-btn {background-color: #f44336;}
#Res-btn {background-color: #e7e7e7; color: black;}
button{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
h1 {
  text-align: center;
}
.btn-section{
 text-align: center;
}